.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: auto;
    background-color:green;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
 .navbar li {
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .navbar li a:hover {
    background-color: red;
  }
  .active{
    background-color: aliceblue;
  }